.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5px;

}
.user{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/*display: 'block',*/
/*marginLeft: 'auto',*/
/*marginRight: 'auto',*/
/*width: '50%'*/
